.container-reception {
  background-color: white;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 75vh;
  min-height: 75vh;
  overflow-y: auto;
}
