div.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  div.centre-app {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
/* ----- Manage display components depending responsive ------  */
#root > div > div.menu-top {
  display: none;
}

@media screen and (max-width: 730px) {
  div.App {
    height: auto;
  }
  #root > div > header {
    order: -2;
  }
  #root > div > div.centre-app > div.menu-top {
    display: none;
  }
  #root > div > div.menu-top {
    display: flex;
    order: -1;
  }
  #root > div > div.menu-left {
    order: 0;
  }
  #root > div > div.centre-app > div {
    order: 3;
  }
}
