div.newLine {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    input,
    select {
      margin-left: 5px;
      padding: 5px;
    }
    select:hover {
      cursor: pointer;
    }
  }
  div.duo-buttons-container {
    display: flex;
    label {
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

div.container-button-submit {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
