table.table-stock {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
  font-size: 0.8rem;

  caption {
    padding: 15px;
    font-size: 1.4rem;
    font-family: 'Chakra Petch', sans-serif;
    position: relative;

    div.search-buttons,
    div.div-total-boxes {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      margin: 20px 10px;
    }
  }
}

@media screen and (max-width: 730px) {
  table.table-stock {
    caption {
      span.title-caption {
        font-size: 1.2rem;
      }
      div.search-buttons {
        flex-wrap: wrap;
      }
      div.div-total-boxes {
        flex-wrap: wrap;
      }
      button {
        margin: 20px 2px;
      }
    }
  }
}
