table.table-stock {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;

  caption {
    padding: 15px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    position: relative;

    label {
      display: flex;
      justify-content: center;
      margin-top: 5px;
      input {
        border: none;
        border-bottom: 1px solid black;
        margin-left: 5px;
      }
      i {
        color: grey;
      }
    }
    button {
      margin: 20px 10px;
    }
  }
}
