table.table-stock {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;

  caption {
    padding: 15px;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  td,
  th {
    border: 1px solid black;
    padding: 10px;
  }
  tr:nth-child(2n) {
    background-color: white;
  }
  th {
    background-color: rgb(151, 150, 255);
  }
}

@media screen and (max-width: 730px) {
  table.table-stock {
    caption {
      font-size: 1rem;
    }
  }
}
