div.MenuSlideMobile {
  height: 100vh;
  width: 0;
  background-color: rgb(151, 150, 255);
  position: fixed;
  z-index: 50;
  transition: all 0.5s ease;

  i.cross {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.4rem;
    font-weight: bolder;
    color: white;
  }
  ul.list-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.2rem;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    li {
      transform: scale(0);
      color: white;
    }
  }
}

div > .open {
  width: 100vw;

  ul.list-nav {
    li {
      transform: scale(1);
    }
  }
}
