div.menu-top {
  width: 100%;
  height: 15vh;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  background-color: whitesmoke;
  nav.navbar {
    width: 100%;
    height: 100px;

    ul.list-navbar {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
      }
      li:hover {
        text-decoration: underline;
      }
    }
  }
}
