header.container-header {
  height: 15vh;
  font-family: 'Chakra Petch', sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  border: 1px solid black;
  background-image: url('../../images/banner-blue-pixabay.jpg');
  background-size: cover;
  color: white;
  background-position: center;
  font-size: 1.8rem;

  div.logo {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }
  div.title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 730px) {
  header.container-header {
    height: 10vh;
    div.logo {
      height: 100%;
      img {
        height: 100%;
      }
    }
    div.title {
      width: 80vw;
      height: auto;
      h1 {
        font-size: 1.4rem;
      }
    }
  }
}
