header.container-header {
  height: 15vh;
  width: 100%;
  background-color: #f0eeee;
  display: flex;
  border: 1px solid black;

  div.logo {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.8rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
  div.title {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
