div.container-contentFagot {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 75vh;
  min-height: 75vh;
  overflow-y: auto;

  table.table-boxes-fagots {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
    font-size: 0.8rem;

    caption {
      padding: 15px;
      font-size: 1.4rem;
      margin-bottom: 20px;

      span.info-fagot {
        font-size: 1rem;
        font-weight: normal;
        margin: 0px 10px;
      }
    }

    tr.justAdded {
      background-color: rgb(186, 255, 186) !important;
    }
    td,
    th {
      border: 1px solid black;
      padding: 10px;
    }

    td.delete:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    tr:nth-child(2n) {
      background-color: white;
    }
    th {
      background-color: rgb(49, 48, 135);
    }
  }
}

@media screen and (max-width: 730px) {
  div.container-contentFagot {
    width: 100vw;
    max-height: none;
    min-height: none;
    padding: none;
    table.table-boxes-fagots {
      caption {
        font-size: 1rem;
      }
    }
  }
}
