form.form-createBundle {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: normal;
  }

  label {
    margin-top: 20px;
    input,
    select {
      margin-left: 5px;
      padding: 5px;
      width: 176px;
    }
    select {
      cursor: pointer;
    }
  }
  button {
    margin-top: 40px;
  }
  p {
    margin-top: 40px;
  }
  p.success {
    color: green;
  }
  p.error {
    color: red;
  }
}
